@import "../../../../style/variables";
.breadCrumbs__container {
    padding: 5px 30px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color:$LINK_COLOR;
    a{
        color: $ACTIV_LINK_COLOR;
        margin-left: 4px;
    }
    .breadCrumbs__container-last{
        margin-left: 4px;
    }
}
.breadCrumbs__container-white{
    padding: 5px 30px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color:black;
    a{
        color:black;
        margin-left: 4px;
    }
    .breadCrumbs__container-last{
        margin-left: 4px;
    }
}
.breadCrumbs__container-black{
    padding: 5px 30px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color:white;
    a{
        color: white;
        margin-left: 4px;
    }
    .breadCrumbs__container-last{
        margin-left: 4px;
    }
}
.breadCrumbs__container-contrast {
    padding: 5px 30px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color:$FONT_CONTRAST;
    a{
        color: $FONT_CONTRAST;
        margin-left: 4px;
    }
    .breadCrumbs__container-last{
        margin-left: 4px;
    }
}