@import "../../../../style/variables";
.breadCrumbs__container {
    padding: 5px 30px;
    &>nav>ol{
        color: $MAIN_COLOR;
        &>li>span>a {
            margin: 0px 2px;
            &:hover {
                background-color: $BLUE;
            }
        }
    }
}
.breadCrumbs__container-white{
    padding: 5px 30px;
    &>nav>ol{
        color: $DISABLED_FONT_COLOR;
        &>li>span>a {
            color: $DISABLED_FONT_COLOR;
            margin: 0px 2px;
        }
    }
}
.breadCrumbs__container-black{
    padding: 5px 30px;
    background-color: $BACK_BLACK;
    &>nav>ol{
        color: $WHITE_FONT_COLOR;
        &>li>span>a {
            color: $WHITE_FONT_COLOR;
            margin: 0px 2px;
        }
    }
}
.breadCrumbs__container-contrast {
    padding: 5px 30px;
    background-color: $BACK_CONTRAST;
    &>nav>ol{
        color: $FONT_CONTRAST;
        &>li>span>a {
            color: $FONT_CONTRAST;
            margin: 0px 2px;
        }
    }
}