@import "../../../../style/variables";
.navbar__menu-container{
    position: absolute;
    opacity: 1;
    bottom: -210px;
    display: none;
    z-index: 100;
    color: $MAIN_COLOR;
    display: none;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(20, 49, 71, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(20, 49, 71, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(20, 49, 71, 0.2);

}
.navbar__menu-item{
    margin-top: 25px;
    width:1270px;
    min-height: 200px;
    padding: 25px;
    background-color: white;
    opacity: 1;
    display: none;
    ul{
        padding: 0;
        color: $LINK_COLOR;
       
        justify-content: space-around;
        
        li{
            width: calc(100%/3);
            float: left;
            padding-top: 15px;
            text-align: center;
            border-bottom: solid 2px white;
            padding-bottom: 4px;
        
        }
        li:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
       }
        li:hover{
            border-bottom: solid 2px $RED_COLOR;
            background-color:rgba(12, 29, 44, 0.05);
          
            cursor: pointer;
            padding-bottom: 4px;
        }
    }
}
.show-menu-item{
    display: block;
}
.show-menu-container{
    display: block;
}
.show-menu-list{
    color: $MAIN_COLOR;
    background-color: white;
}