@import "../../../../../style/variables";
.container-two{
    grid-area: cardTwo;
}
.newscard__backgroun{
    width: 100%;
    height: 100%;
    position: relative;
}
.newscard__frontend-two {
    position: absolute;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 3rem 3rem;
    width: 250px;
    height: 220px;
    border-radius: 50%;
    background-color: $BACK_NEWSCARD_ORANGE;
    color: $WHITE_FONT_COLOR;
    top: 66%;
    right: 70%;
}
.newscard__date-bage-two{
   position: absolute;
   top: -127%;
   left: 27%;
}
.newscard__info-two{
   margin: 5px 20px
   
;}