@import "../../../../style/variables";
@import "../../../../style/mixins/response-mixins.scss";

.news__navbar ul{
    flex-wrap: wrap;
    display: flex;
    padding: 0px 1em;
}
.navbar__button{
    margin: 20px 20px;
    &-active{
        color: $ACTIV_LINK_COLOR;
        border-bottom: solid 2px $MAIN_COLOR;
    }
     a{
        color: $LINK_COLOR;
        font-weight: 500;
        :hover{
            color: $ACTIV_LINK_COLOR;
            border-bottom: solid 2px $MAIN_COLOR;
        }
    }
}

.navbar__button-white{ 
    margin: 20px 20px;
    &-active{
        color: $DISABLED_FONT_COLOR;
        border-bottom: solid 2px $DISABLED_FONT_COLOR;
    }
    a{
    color: $DISABLED_FONT_COLOR;
    font-weight: 500;
    :hover{
        color: $ACTIV_LINK_COLOR;
        border-bottom: solid 2px $MAIN_COLOR;
    }

}}
.navbar__button-black {
    &-active{
        color: $WHITE_FONT_COLOR;
        border-bottom: solid 2px $WHITE_FONT_COLOR;
    }
    margin: 20px 20px;
    a{
    color: $WHITE_FONT_COLOR;
    font-weight: 500;
    :hover{
        color: $WHITE_FONT_COLOR;
        border-bottom: solid 2px $WHITE_FONT_COLOR;
    }
}}
.navbar__button-contrast {
    &-active{
        color: $FONT_CONTRAST;
        border-bottom: solid 2px $FONT_CONTRAST;
    }
    margin: 20px 20px;
    a{
    color: $FONT_CONTRAST;
    font-weight: 500;
    :hover{
        color: $FONT_CONTRAST;
        border-bottom: solid 2px $FONT_CONTRAST;
    }
}}
@media screen and (max-width:807px){
    .news__navbar {
        display: flex;
        justify-content: center;

        ul{
        font-size: 1rem;
        padding: 0px;
    }}
}
@include phones {
    .news__navbar {
        ul{
        font-size: 0.8rem;
    }}
}
