.applicantsEnrollee-header{
    justify-content: space-between;
    &-body{
        width: 60%;
    }
    &-logo{
        text-align: center;
        width: 40%;
    }
    &-title{
        text-align: center;
    }
}
.messageImage-container{
    float: left;
    text-indent: 0;
    margin: 0.5em;
}
@media screen and (max-width: 600px){
    .messageImage-container{
        float:none;
       display: flex;
       justify-content: center;
    
    }
}