@import "../../../../style/variables";
.infopage-main {
  /*   background-color: $BLUE; */
    background-color: red;
}
.infopage-white {
    background-color: $BACK_WHITE;
    color: $DISABLED_FONT_COLOR;
}
.infopage-black {
    background-color: $BACK_BLACK;
    color: $WHITE_FONT_COLOR;
}
.infopage-contast {
    background-color: $BACK_CONTRAST;
    color: $FONT_CONTRAST;
}