@import "../../../../../style/variables";
.cardSeven {
    grid-area: cardSeven;
}
.newscard__background-seven{

    width: 100%;
    height: 100%;
    position: relative;
}
.newscard__frontend-seven {
    position: absolute;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 3rem 2rem;
    width: 250px;
    height: 220px;
    border-radius: 50%;
    background-color: $BACK_NEWSCARD;
    color: $WHITE_FONT_COLOR;
    top: 60%;
    right: 0%;
}
.newscard__date-bage-seven{
   position: absolute;
   top: -115%;
   left: -184%;
}