
// Сведения об образовательной организации
@import "../../components/page/sveden/common/style/common";
@import "../../components/page/sveden/budget/style/budget";
@import "../../components/page/sveden/document/style/document";
@import "../../components/page/sveden/education/style/education";
@import "../../components/page/sveden/eduStandarts/style/eduStandarts";
@import "../../components/page/sveden/employees/style/employees";
@import "../../components/page/sveden/grants/style/grants";
@import "../../components/page/sveden/inter/style/inter";
@import "../../components/page/sveden/objects/style/objects";
@import "../../components/page/sveden/ovz/style/ovz";
@import "../../components/page/sveden/paidEdu/style/paidEdu";
@import "../../components/page/sveden/struct/style/struct";
@import "../../components/page/sveden/vacant/style/vacant";
@import "../../components/page/infoContainer/applicantsPage/style/applicantsPage";
@import "../../components/page/infoContainer/eventsPages/style/eventsPages";
@import "../../components/page/learning/style/learning";
@import "../../components/page/enrollee/style/enrollee";
@import "../../components/page/schedule/style/schedule";
@import "../../components/page/educationsPrograms/style/educationsPrograms";
// common
@import "../../components/common/phoneMenu/style/phoneMenu";
@import "../../components/common/breadCrumbs/style/breadCrumbs";
@import "../../components/common/liveCards/style/liveCards";
@import "../../components/common/hrLine/style/hrLine";
@import "../../components/common/badge/style/badge";
@import "../../components/common/button/styles/button";
@import "../../components/common/carousel/style/carousel";
@import "../../components/common/eventCard/style/eventCard";
@import "../../components/common/image/style/image";
@import "../../components/common/infoContainer/style/infoContainer";
@import "../../components/common/liveCard/style/liveCard";
@import "../../components/common/liveCardContainer/style/liveCardContainer";
@import "../../components/common/pageCarousel/style/pageCarousel";
@import "../../components/common/search/style/search";
@import "../../components/common/newsCard/style/news-card";
/* @import "../../components/common/newsCard/cardEight/style/cardEight";
@import "../../components/common/newsCard/cardFive/style/cardFive";
@import "../../components/common/newsCard/cardFour/style/cardFour";
@import "../../components/common/newsCard/cardOne/style/cardOne";
@import "../../components/common/newsCard/cardSeven/style/cardSeven";
@import "../../components/common/newsCard/cardSix/style/cardSix";
@import "../../components/common/newsCard/cardThree/style/cardThree";
@import "../../components/common/newsCard/cardTwo/style/cardTwo"; */
@import "../../components/common/articleContainer/style/articleContainer";
@import "../../components/common/form/textField/textField";
@import "../../components/common/collapse/style/collapse";

// --------------------ui----------------------------------
@import "../../components/ui/disabled/style/disabled";
@import "../../components/ui/commonMenu/style/commonMenu";
@import "../../components/ui/footer/style/footer"; 
@import "../../components/ui/newsCardContainer/style/newsCardContainer";
@import "../../components/ui/newsNavbar/style/newsNavbar";
@import "../../components/ui/chapterMenu/style/chapterMenu";
@import "../../components/ui/calendar/style/calendar";
@import "../../components/ui/logIn/style/logIn";
@import "../../components/ui/nav-bar/style/nav-bar";
@import "../../components/ui/partners-container/style/partners-container";
@import "../../components/ui/left-panel/style/left-panel";
@import "../../components/ui/scroll-up/style/scroll-up";
// -----------------------loyouts---------------------
@import "../../layouts/sveden/style/sveden";