@import "../../../../style/variables";
.header__section-disabled{
    background-color: $DISABLED;
    display: flex;
    height: 80px;
    align-items: center;
    font-size: 1.2rem;
    color: $DISABLED_FONT_COLOR;
   
}

.disabled__container{
    display: flex;
    margin: 20px;
   
    &-back{
        border: solid 2px #000;
        padding: 0.3em;
        cursor: pointer;
        &:hover{
            border-bottom: solid 5px #000;
            box-sizing: border-box;
            margin: 0px 0px -3px 0px;     
        }
    }
    &-label{
        padding: 0.3em;
    }
    &-block{
        display: flex;
        border: solid 2px #000;
        &-a{
            border-right: solid 2px #000 ;
            padding: 0.3em;
            cursor: pointer;
            &-normal {
                border-right: solid 2px #000 ;
                padding: 0.3em;
                background-color: $BACK_BLACK;
                color: $WHITE_FONT_COLOR;
                cursor: pointer;
                &:hover{
                    border-right: solid 2px #000 ;
                    border-bottom: solid 5px #000;
                    margin: 0px 0px -5px 0px;         
                 }
            }
            &:hover{
                border-right: solid 2px #000 ;
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;         
             }
        }
        &-aa{
            cursor: pointer;
            border-right: solid 2px #000 ;
            padding:  0.3em;
            &-medium {
                border-right: solid 2px #000 ;
                padding: 0.3em;
                background-color: $BACK_BLACK;
                color: $WHITE_FONT_COLOR;
                cursor: pointer;
                &:hover{
                    border-right: solid 2px #000 ;
                    border-bottom: solid 5px #000;
                    margin: 0px 0px -5px 0px;         
                 }
            }
            &:hover{
                border-right: solid 2px #000 ;
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;         
             }
        }
        &-aaa{  
            cursor: pointer;
            padding:  0.3em;
            &-large {
                padding: 0.3em;
                background-color: $BACK_BLACK;
                color: $WHITE_FONT_COLOR;
                cursor: pointer;
                &:hover{
                    border-bottom: solid 5px #000;
                    margin: 0px 0px -5px 0px;         
                 }
            }
            &:hover{
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;         
             }
        }
        &-c{
            cursor: pointer;
            border-right: solid 2px #000 ;
            padding: 0.3em;
            &:hover{
                border-right: solid 2px #000 ;
                    border-bottom: solid 5px #000;
                    margin: 0px 0px -5px 0px;
            }
            &-white{
                border-right: solid 2px #000 ;
                background-color: $BACK_WHITE;
                color: $DISABLED_FONT_COLOR;
                padding: 0.3em;
                cursor: pointer;
                &:hover{
                    border-right: solid 2px #000 ;
                    border-bottom: solid 5px #000;
                    margin: 0px 0px -5px 0px;
                }
            }
        }
        &-cc{
            cursor: pointer;
            border-right: solid 2px #000 ;
            padding:  0.3em;
            &:hover{
                border-right: solid 2px #000 ;
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;
            }
            &-black{
                border-right: solid 2px #000 ;
                background-color: $BACK_BLACK;
                color: $WHITE_FONT_COLOR;
                padding: 0.3em;
                cursor: pointer;
                &:hover{
                    border-right: solid 2px #000 ;
                    border-bottom: solid 5px #000;
                    margin: 0px 0px -5px 0px;         
                 }
            }
        }
        &-ccc{  
            cursor: pointer;
            padding:  0.3em;
            &:hover{
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;
            }
            &-contrast{
                background-color: $BACK_CONTRAST;
                color: $FONT_CONTRAST;
                padding: 0.3em;
                cursor: pointer;
                &:hover{
                    border-bottom: solid 5px #000;
                    margin: 0px 0px -5px 0px;
                 }
            }
        }
        &-active{
            cursor: pointer;
            border-right: solid 2px #000 ;
            padding:  0.3em;
            &:hover{
                border-right: solid 2px #000 ;
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;         
             }
        } &-gray{
            cursor: pointer;
            border-right: solid 2px #000 ;
            padding:  0.3em;
            &:hover{
                border-right: solid 2px #000 ;
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;         
             }
        }
        &-inactive{  
            cursor: pointer;
            padding:  0.3em;
            &:hover{
                border-bottom: solid 5px #000;
                margin: 0px 0px -5px 0px;         
             }
        }


    }
    
}
