@import "../../../../style/variables";
@import "../../../../style/mixins/response-mixins.scss";

.phoneMenu {
  display: none;
}
@include desktop {
  .phoneMenu {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: $MAIN_COLOR;
    padding: 0.4em 1em;
    display: flex;
    ul {
      padding-left: 0;
      z-index: 11;
      text-align: center;
      li {
        margin: 1rem;
      }
    }

    a {
      color: $WHITE_FONT_COLOR;
    }

    &__menu {
      position: relative;
      &-dropdown {
        background-color: $MENU_COLOR;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: 10;
        transition: left 1s;
      }
      &-toggle {
        position: absolute;
        top: 29px;
        right: 29px;
        z-index: 11;

        cursor: pointer;
      }
    }
  }
  .nav-menu-sveden {
    a {
      font-size: 0.825rem;
      border-bottom: solid 1px white;
    }
  }
  .nav-menu-disabled {
    position: absolute;
    border-bottom: solid 2px white;
    top: 3%;
    left: 50%;
    transform: translate(-55%, -50%);
  }
  .menuLogo {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .is-open {
    left: 0;
  }
  .phoneMenu__title > h1 {
    color: $WHITE_FONT_COLOR;
    text-align: center;
    font-size: 1rem;
    margin: 0.2em 0;
    margin-right: 0px;
  }
  .phoneMenu__title > h3 {
    display: none;
  }
  .button__container {
    z-index: 12;
    display: flex;
    justify-content: center;
    button {
      background-color: inherit;
    }
    &-btn {
      background-color: #325472 !important;
      padding: 0.2em 1.5em;
      border-radius: 0.6em;
      margin: 0 1.2em;
      &-icon {
        fill: $WHITE_FONT_COLOR;
        width: 20px;
        height: 20px;
      }
    }
  }
}
@include laptop {
  .phoneMenu__title > h1 {
    font-size: 0.8rem;
  }
}
@include tablets {
  .phoneMenu__title > h1 {
    font-size: 0.6rem;
  }
}
@include phones {
  .menuLogo {
    width: 430px;
    height: 386px;
  }
  .button__container {
    &-btn {
      margin: 0 0.6em;
    }
  }
}
@media screen and (max-width: 380px) {
  .menuLogo {
    width: 350px;
    height: 315px;
  }
  .phoneMenu__title > h1 {
    display: none;
  }
  .phoneMenu__title > h3 {
    display: block;
    color: $WHITE_FONT_COLOR;
    text-align: center;
    font-size: 0.8rem;
    margin: 0.2em 0;
    margin-right: 40px;
  }
}
@media screen and (max-width: 310px) {
  .menuLogo {
    width: 315px;
    height: 283px;
  }
}
@media screen and (max-width: 290px) {
  .phoneMenu__title > h3 {
    font-size: 0.6rem;
  }
}
