@import "../../../../style/variables";
.main-mobileMenu{
    display: none;
    padding: 0 15px;
}
.imageSlider-show{
    display: block;
    position: relative;
    height: 500px;
    margin-bottom: 1em;
    img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}
.swiperSlideFirs{
    &__title{
        font-size: 2em;
        position: absolute;
        z-index: 10;
        left: 10%;
        top: 10%;
        width: 200px;
    }
    &__text{
        text-align: justify;
        position: absolute;
        z-index: 10;
        top: 7%;
        left: 63%;
        max-width: 450px;
    }
    &__list{
        position: absolute;
        font-size: 0.8em;
        z-index: 10;
        left: 65%;
        top: 35%;
        li{
            margin-bottom: 0.3em;
        }
    }
    &__btn{
        position: absolute;
        z-index: 10;
        left: 75%;
        top: 70%;
        padding: 0.7em 1em;
        font-weight: 500;
        background-color: hsla(207, 63%, 21%, 0.5);
        border: solid 2px white;
        color: white;
        border-radius: 0.2em;
        &:hover{
            border: solid 2px $MAIN_COLOR;
            color: $MAIN_COLOR;
            cursor: pointer;
        }
    }
}

.arrow {
    cursor: pointer;
}

.marquee-infinite {
    position: absolute;
    bottom: 0;
    height: 96px;
    width: 100%;
    overflow: hidden;
}
.marquee-infinite {
    span {
        width: 100%;
        display: flex;
        justify-content:left;
        animation: marquee-infinite 5.3s linear infinite;
    }
    img {
        height: 96px;
        width: 250px;
        display: flex;
        justify-content: left;
        align-items:flex-start;
    }
    &:hover img {
        animation-play-state: paused;
    }
}
@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
@media screen and (max-width:1270px){
    .imageSlider-show{
        display: none;
    }
    .main-mobileMenu{
        display: block;
    }
}