@import "../../../style/variables";
.auth-leftpanel-wrapper {
  display: none;
  width: 100%;
  overflow: hidden;
  background-color: white;
  height: 100vh;
  z-index: 101;
  /*   &-form{

        height: 40%;
        padding: 3%;
        h1{
            text-align: center;
        }
        .login_form-btnLogin{
            width: 100%;
            border-radius: 2px;
        }
        .login_form-inputWrapper-input{

            border-bottom: solid 1px $MAIN_COLOR;
            color: $MAIN_COLOR;
            
        }
        .login_form-inputWrapper-input::placeholder{
            color: $MAIN_COLOR;
            font-size: 16px;
        }

    }
    &-top{
        height: 60%;
        div{
            height: 10vh;
            text-align: center; 
            color: $MAIN_COLOR;
            padding: 10px; 
            width: 400px; 
            font-size: 30px;
            margin-left: 10px;
            overflow: hidden;
            border-bottom: solid 1px #8090be77;
        }
    } */
}

.auth-leftpanel-wrapper-show {
  display: block;
}
